@import url(../Variables.css);
@import url(../animaciones.css);
.inicio {
    display: flex;
    align-items: center;
    padding: 0 9%;
}
.inicio .container {
    max-width: 70rem;
}
.inicio .container .inicioTitulo {
    font-size: 4.5rem;
    line-height: 1.3;
    font-weight: 700;
}
.inicio .container .animacionTexto {
    position: relative;
    width: 38.8rem;
}
.inicio .container .animacionTexto .texto {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -40rem 0;
    animation: TextoAnimacion 6s linear infinite;
    animation-delay: 2s;
}
.inicio .container .animacionTexto .texto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: CursorAnimacion 6s linear infinite;
    animation-delay: 2s;
}
.inicio .container .inicioTexto {
    font-size: 1.5rem;
    margin: 2rem 0 4rem;
}
.inicio .inicioSocial {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.inicio .inicioSocial .inicioSocial-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.inicio .inicioSocial .inicioSocial-btn:hover {
    color: var(--bg-color);
}
.inicioSocial .inicioSocial-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}
.inicioSocial .inicioSocial-btn:hover::before {
    width: 100%;
}
.inicio .inicioImagen {
    position: absolute;
    right: 10%;
    top: 25%;
    width: 350px;
    height: 350px;
    border: 2rem solid var(--text-color);
    border-radius: 50%;
    background: url(../../Image/Sobre.jpg) no-repeat center / cover;
}